<div class="comments_container">
<h3><%= Comment.model_name.human %></h3>
<% unless comments.empty? %>
  <% comments.each do |comment| %>
    <div class="comment_wrapper">
      <strong><%= comment.content %></strong>
      <%= Comment.human_attribute_name(:writer) %>：<%= comment.user.name %>
      <%= button_to t('views.common.destroy', name: Comment.model_name.human), polymorphic_url([commentable, comment]), { method: :delete, class: "comment_destroy", params: { comment_id: comment.id } } %>
    </div>
  <% end %>
<% else %>
  <p><%= t('column.message.nothing', model: Comment.model_name.human) %></p>
<% end %>
</div>

<%= form_with model: [commentable, Comment.new] do |f| %>
  <%= f.label :content, style: "display: block" %>
  <%= f.text_field :content %>
  <div class="actions">
    <%= f.submit t('column.message.do', action: Comment.model_name.human ) %>
  </div>
<% end %>
