<div class="comments_container">
<% unless comments.empty? %>
<table>
  <tr>
  <th><%= Comment.model_name.human %></th>
  </tr>
  <% comments.each do |comment| %>
    <tr>
      <td><strong><%= comment.content %></strong></td>
      <td><%= comment.user.name %></td>
      <td><%= l comment.created_at, format: :short %></td>
      <td><%= button_to t('views.common.destroy', name: Comment.model_name.human), polymorphic_url([commentable, comment]), { method: :delete, class: "comment_destroy", params: { comment_id: comment.id } } %></td>
    </tr>
  <% end %>
</table>
<% else %>
  <p><%= t('column.message.nothing', model: Comment.model_name.human) %></p>
<% end %>
</div>

<%= form_with model: [commentable, Comment.new] do |f| %>
  <%= f.label :content, style: "display: block" %>
  <%= f.text_field :content, required: true %>
  <div class="actions">
    <%= f.submit t('column.message.do', action: Comment.model_name.human ) %>
  </div>
<% end %>
